* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

main{
display:block;
width: 88%;
float:right;
overflow: hidden;
margin: 0;
}

main a{
	text-align: right;
	width: 800px;
	margin-top:40px;
	color: black;
	
}
/* Index */


.indexkl{
	background-color: #ffd370;
	padding: 20px 0px 150px;
}
.h5index{
	margin-left: 0px;
	font-size: 55px;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	width: 100%;
	margin-top: 100px;
	margin-bottom: 70px;
}

.index p{
	margin-bottom: 40px;
}

.index .footer p{
	margin-bottom: 5px;
}
.index .button{
	background-color: #ffd370;
	text-align: center;
	margin-left: 40.5%;
	margin-top: 20px;
}

.index .indexport .button{
	background-color: #ffffff;
	text-align: center;
	margin-left: 40.5%;
	margin-top: 20px;
}

.indexport{
	margin-bottom: 100px;
}

.afbeelding-index{
	position: relative;
	width: 82%;
	margin-left: 11%;
	margin-right: 9%;
	margin-bottom: 80px;
}
.afbeelding-index img:hover{
	opacity: 1;
}
.afbeelding-index img{
		width: 31%;
	margin-right: 5px;
	margin-bottom: 5px;
	opacity: 0.5;
}

.tekst_index{
	position: absolute;
top: 160px;
width: 100%;
}

.tekst_index{
	font-family: Arial;
	text-align: center;
	font-size: 20px;
	color: white;
}

.ont1 {
	margin-top: 11%;
	margin-left: 0;
	border: 1px solid;
	text-shadow: none;
	width: 31%;
	background: rgba(0,0,0,0.3);
	color: white;
}

.tek2{
margin-top: 11%;
	margin-left: 31.9%;
	border: 1px solid;
	text-shadow: none;
	width: 31%;
	color: white;
	background: rgba(0,0,0,0.3);
}

.fot3{
margin-top: 11%;
	margin-left: 63.8%;
	border: 1px solid;
	text-shadow: none;
	width: 31%;
	color: white;
	background: rgba(0,0,0,0.3);
}

.ont4{
margin-top: 46%;
	margin-left: 0;
	border: 1px solid;
	text-shadow: none;
		width: 31%;
	color: white;
	background: rgba(0,0,0,0.3);
}

.tek5{
margin-top: 46%;
	margin-left: 31.9%;
	border: 1px solid;
	text-shadow: none;
	width: 31%;
	background: rgba(0,0,0,0.3);
	color: white;	
}
.fot6{
margin-top: 46%;
	margin-left: 63.8%;
	border: 1px solid;
	text-shadow: none;
		width: 31%;
	color: white;
	background: rgba(0,0,0,0.3);
	
	
}
/* Over ons */
.imghome{
	width: 102%;
	height: 100%;
	margin-bottom: -6px;
	margin-top: -2px;
	margin-left: -2px;
}


.teamfoto1 img{
	margin-left: 430px;
	width: 200px;
	margin-bottom: 50px;
	position: relative;
	float: left;
	margin-right: 10px;
	
}

.teamfoto1 p{
	width: 100px;
	margin-left: 520px;
	margin-top: 200px;
	font-size: 40px;
	position: absolute;
	color: white; 
	text-shadow: black 0.1em 0.1em 0.2em;
}

.teamfoto2 img{
	width: 240px;
	margin-bottom: 50px;
	position: relative;
	float: left;
	margin-right: 10px;
}

.teamfoto2 p{
	font-size: 40px;
	position: absolute;
	margin-left: 740px;
	margin-top: 200px;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
}

.teamfoto3 img{
	width: 198px;
	margin-bottom: 50px;
	position: relative;
}

.teamfoto3 p{
	font-size: 40px;
	position: absolute;
	margin-left: 970px;
	margin-top: -105px;
	color: white; 
	text-shadow: black 0.1em 0.1em 0.2em;

}

.kl-overons{
	background-color: #ffd370;
	padding: 20px 0px 70px;
}


.overons{
	padding: 20px 0px 70px;
}


.klcontactgegevens{
	background-color: #ffd370;
	width: 52%;
	float: left;
}

.klcontactgegevens p{
	margin-left: 200px;
	margin-right: 50px;
}
.contactgegevens{
	width: 48%;
	float: left;

}

.contactgegevens img{
	margin-left: 133px;
	margin-top: 50px;
	width: 370px;
}

.contactgegevens p{
	margin-bottom: 30px;
	margin-left: 200px;
	margin-right: 50px;
}

.contactgegevens a{
		margin-bottom: 30px;
	margin-left: 200px;
	margin-right: 50px;
	font-size: 14px;
	font-family: "Arial";
	
}



#map{
	width: 100%;
	height: 500px;
	display: block;
	pointer-events: none;
}



	/* Footer */

footer{
	margin-left: 133px;
	font-family: "Arial";
	font-size: 14px;
}

footer p{
	margin:0;
	margin-bottom: 5px;
	color: #ffffff;
}


.footer{
	float: left;
	margin-bottom: 50px;
	margin-top: 50px;
	width: 310px;
}

.footer a{
	width: 90px;
	margin-right: 0;
	color: white;
	font-size: 14px;
}


.footer a:hover{
	width: 90px;
	margin-right: 0;
	color: #ffd370;
	font-size: 14px;
}

.footer img{
	width: 12px;
	margin-right: 5px;
}
.footer-navigatie{
	float: left;
	margin-right: 20px;
}

.footer-navigatie a{
	width: 90px;
	margin-right: 0;
	color: white;
}

.footer-navigatie a:hover{
	width: 90px;
	margin-right: 0;
	color: #ffd370;
}

.container-footer{
	background: #785a99;
	width: 100%;
	float: left;
}

.container-dromen{
	width: 100%;
	margin: 10px 0px;
	height:97px;
	overflow:hidden;
}
.container-dromen img{
	opacity: 0.2;
	width: 100%;
}

.dromenwaarmaken{
	position: absolute;
	font-size: 20px;
	font-family: "Arial";
	color: #000000;
	text-align: center;
	width: 80%;
	margin-left: 0;
	margin-top: -62px;
}

.dromenwaarmaken:hover{
	font-size: 20px;
    text-decoration: none;
	color: #000000;
	transition:0;
}

#diensten{}

/* Formulier */
form{
	border: 0;
	position: relative;
	margin-top: 20px;
	float: left;
}

.form{
	width: 200px;
	margin-top: 5px;
	border-bottom: 2px solid;
	margin-left: 50px;
	padding-bottom: 10px;
	background-color: #ffd370;

}

.formachternaam{
	width: 250px;
	margin-top: 5px;
	border-bottom:2px solid;
	margin-left: 40px;

	padding-bottom: 10px;
	background-color: #ffd370;
}

.formlang{
	width: 493px;
	margin-top: 5px;
	border-bottom:2px solid;
	margin-left: 50px;
	padding-bottom: 10px;
	background-color: #ffd370;
	
}

.formvnan{
	float: left;
}

textarea:focus{
	border-bottom-color: #785a99;
}
input{
	border: 0;
	padding-left: 5px;
}

input:focus{
	outline:none;
	border-bottom-color: #785a99;
}

input::placeholder{
	color:black;
	font-size: 14px;
	font-family: "Arial";

}

textarea::placeholder{
	color:black;
	font-size: 14px;
	font-family: "Arial";
}

fieldset{
	margin: 0;
	padding:10px 0px;
	border: 0;
	display: block;	
}

textarea{
	border: 0px;
	width: 550px;
	resize: none;
	font-size: 14px;
}

textarea:focus{
	outline:none;
}


.button{
	border: 2px solid;
	padding: 10px 40px;
	margin-left: 394px;
	color: black;
	font-family:"arial";
	font-size: 11pt;
	background-color: #ffd370;
	margin-bottom: 30px;
}

.button:hover{
	color: #785a99;
	border: 2px solid #785a99;
	font-family:"arial";
	font-size: 11pt;
	transition:0.5s;
}



.parkeren p{
	float: left;
	width: 400px
}
.parking{
	float: left;
	width: 300px;
	margin-top: 130px;
	margin-left: 100px;
	margin-bottom: 100px;
}

.container-parkerentekst{
	float: left;
}

.container-parkerentekst p{
	margin-right: 0px;
	margin-left: 200px;
	width: 400px;
}


/* Copyright */
.copyright{
	float: left;
	border-top: 2px solid #ffd370;
	width: 100%;
	
}

.copyright p{
	text-align: left;
	color: #ffffff;
	font-size: 10px;
	margin: 10px 0px;
	margin-left: 20px;
	padding-bottom: 10px;
}

/* Portfolio */

.container-portfolio{
	margin-left: 350px;
}

.content {
    position: relative;
    width: 25%;
	float: left;
	margin-bottom: 100px;
	margin-right: 3%;
	border: 1px solid #000000
	
}

.content .content-overlay {
    background: rgba(0,0,0,0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    left:0; right:0; top:0; bottom:0; 
    opacity: 0;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
	opacity: 0.7;
}

.content-details {
    position: absolute;
    text-align: center;
    width: 100%;
    top:0%;
    left: 0%;
    opacity: 0;
    transform: translate(-57%, -50%);
    
    
}

.content:hover .content-details{
    top: 47%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    font-weight: 100;
    margin-bottom: 0.5em;
}



/* Fotografie.html */
#masker {
	position:relative;
	width: 100%;
	margin: 0;
}

#masker figure {
	width: 800%;
	position:relative;
	margin:0;
}

#masker figure span{
	width:12.5%;
	float:left;
	position:relative;
	margin:0;
}

#masker figure img{
	width: 100%;
	float: left;
	display: block;
	margin-top: 0;
	margin-bottom: 70px;
}



.slides:target ~ #masker figure {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;
}

#slide1:target ~ #masker figure								
								{ margin-left:0;}

#slide2:target ~ #masker figure							
								{ margin-left:-100%;}

#slide3:target ~ #masker figure							
								{ margin-left:-200%;}

#slide4:target ~ #masker figure							
								{ margin-left:-300%;}

#slide5:target ~ #masker figure							
								{ margin-left:-400%;}

#slide6:target ~ #masker figure							
								{ margin-left:-500%;}

#slide7:target ~ #masker figure							
								{ margin-left:-600%;}

#slide8:target ~ #masker figure							
								{ margin-left:-700%;}


#masker figure span h1{
	position:absolute;
		margin-top:52px;
		color: white;
	
}

#masker figure span .ontwerpen{
	color: #785a99;
}

#masker figure span .tekeningen{
	color: #785a99;
}

#masker a.commands {
	position: absolute;
	top: 50%;
	z-index:999;
	margin-bottom: 10px;
}

#masker a.prev {
	left: 40px;
}
#masker a.next {
	right: 40px;
}

#masker a.commands1 {
	display: block;
	height: 200%;
}


.prev{
	width: 40px;
	float: left;
	margin-top: 200px;
	text-align: left;
}

.next{
	width: 40px;
	margin-top: 200px;
	box-sizing: border-box;
	
}


#slide1:target ~ #masker .commands, 
#slide2:target ~ #masker .commands, 
#slide3:target ~ #masker .commands, 
#slide4:target ~ #masker .commands,
#slide5:target ~ #masker .commands,
#slide6:target ~ #masker .commands,
#slide7:target ~ #masker .commands,
#slide8:target ~ #masker .commands

								{ display: none; 
									width: 100%;
}
								
#slide1:target ~ #masker .commands1, 
#slide2:target ~ #masker .commands2, 
#slide3:target ~ #masker .commands3, 
#slide4:target ~ #masker .commands4,
#slide5:target ~ #masker .commands5, 
#slide6:target ~ #masker .commands6, 
#slide7:target ~ #masker .commands7, 
#slide8:target ~ #masker .commands8

								{ display: block;
									width: 50%;}
.slideshowportfolio{
	margin:0;
	margin-bottom: 20px;
}




.afbeelding_container {
position: relative;
width: 82%;
	margin-left: 9%;
	margin-right: 9%;
	margin-bottom: 80px;
	
}

.afbeelding_container img{
	width: 24%;
	margin-right: 5px;
	margin-bottom: 5px;
	opacity: 0.5;

}

.afbeelding_container img:hover{
	opacity: 1;
}
.afbeelding_container .tekst_container {
position: absolute;
top: 160px;
width: 100%;
}

.tekst_container h3{
	font-family: Arial;
	text-align: center;
	font-size: 20px;
	color: white;
	
}


.foto1{
	margin-top: 5%;
	margin-left: 0;
	border: 1px solid;
	text-shadow: none;
	width: 24%;
	background: rgba(0,0,0,0.3);
	color: white;

}

.foto2{
	margin-top: 5%;
	margin-left: 75%;
	border: 1px solid;
	text-shadow: none;
		width: 24%;
	color: white;
	background: rgba(0,0,0,0.3);
}

.foto3{
	margin-top: 32%;
	margin-left: 0;
	border: 1px solid;
	text-shadow: none;
	width: 24%;
	background: rgba(0,0,0,0.3);
	color: white;
}

.afb1{
	margin-top: 5%;
	margin-left: 0;
	border: 1px solid;
	text-shadow: none;
	width: 24%;
	background: rgba(0,0,0,0.3);
	color: white;
	
}
.afb2{
margin-top: 5%;
	margin-left: 25%;
	border: 1px solid;
	text-shadow: none;
	width: 24%;
	color: white;
	background: rgba(0,0,0,0.3);
}

.afb3{
margin-top: 5%;
	margin-left: 49.8%;
	border: 1px solid;
	text-shadow: none;
	width: 24%;
	color: white;
	background: rgba(0,0,0,0.3);
}

.afb4{
	
margin-top: 5%;
	margin-left: 75%;
	border: 1px solid;
	text-shadow: none;
		width: 24%;
	color: white;
	background: rgba(0,0,0,0.3);
}

.afb5{
margin-top: 32%;
	margin-left: 0;
	border: 1px solid;
	text-shadow: none;
	width: 24%;
	background: rgba(0,0,0,0.3);
	color: white;
	
}


.afb6{
margin-top: 32%;
	margin-left: 25%;
	border: 1px solid;
	text-shadow: none;
		width: 24%;
	color: white;
	background: rgba(0,0,0,0.3);
	
	
}

.afb7{
margin-top: 32%;
	margin-left: 49.8%;
	border: 1px solid;
	text-shadow: none;
		width: 24%;
	color: white;
	background: rgba(0,0,0,0.3);
	

}

.afb8{
margin-top: 32%;
	margin-left: 75%;
	border: 1px solid;
	text-shadow: none;
		width: 24%;
	color: white;
	background: rgba(0,0,0,0.3);
	
}

#bedankt{
	background: #ffd370;
}

#bedankt img{
	position: absolute;
	align-content: center;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	
}

.bedankt h1{
	margin-left: 42%;
	margin-right: 42%;
	width: 16%;
	margin-bottom: 100px;
	position: absolute;
	margin-top: 10%;
}
.bedankt a{
	margin-left: 40%;
	margin-top: 23%;
	width: 24%;
	color: black;
	font-size: 14px;
	position: absolute;
	font-family: "Arial";
}

.bedankt a:hover{
	font-size: 14px;
	color: #785a99;
	position: absolute;
	margin-left: 40%;
	margin-top: 23%;
}

.bedankt p{
	font-size: 14px;
	margin-top: 19%;
	margin-left: 32%;
	margin-right: 32%;
	width: 36%;
	position: absolute;
}


