@charset "UTF-8";
/* CSS Document */

nav {
	float: left; 
	text-align: center;
	background: #785a99;	
	height: 100%;
	width: 12%;
	font-family: "Arial Black", "Arial", "Helvetica";
	padding: 10px;
	position: fixed;
	margin: 0;
	font-size: 10pt;
	top:0;
	left:0;
} 

ul{
	list-style: none;
	display:block;
	padding:0px;
}

li{
	margin-bottom:20px;
	margin-top: 40px;
	list-style: none;
}

hr{
    border:none;
    border-top:2px solid #ffd370;
	margin-top: -10px;
}

nav ul a img{
	width: 100%;
}