a{
	text-decoration: none;
	margin-bottom:20px;
	color: #ffd370;
}

a:hover{
    font-size: 11pt;
    text-decoration: none;
	color: #ffd370;
	transition:0.5s;
}

.active{
	font-size:11pt;
}

h1{
	font-family: 'Dancing Script', cursive;
	font-size: 50pt; 
	margin:0;
	margin-bottom: 20px;
	margin-left: 113px;
	margin-top: 60px;
	  font-weight: 300;
}

h2{
	position: absolute;
	margin-top: -49px;
	font-weight: 300;
	text-align: center;
	width: 100%;
	font-family: "Arial";
	font-size: 30px;
	color: white;
	border: 1px solid white;
	padding: 5px;
	 background: rgba(190,190,190,0.6);
}

h3{
	position: absolute;
	font-size: 30px;
	margin-top: -80px;
	color: white;
	text-shadow: black 0.1em 0.1em 0.2em;
	font-family: "Arial";
	border: 1px solid #FFFFFF;
	margin-left: 40px;
	padding: 5px;
	
	
}

h4{
	color: #ffd370;
	font-family: "Arial";
	font-size: 15px;
}

h5{
	margin-left: 200px;
	font-family: "Arial";
	font-weight: bold;
	margin-bottom: 0px;
	margin-right: 0;
}

p{
	font-family:"Arial";
	font-size: 14px;
 	margin-left: 330px;
	margin-right: 250px;

}